<div ng-app="myAppModelInfo" ng-controller="clustersCtrl">
  <h5> Last update: {{lastUpdate}}</h5>
  <br>
  <h5>Significant Features:</h5>
  <br>
  <p>&nbsp;Positive:</p>
  <table class="table" style="font-size:9">
    <thead>
      <tr>
        <th>Cluster 0</th>
        <th>Cluster 1</th>
        <th>Cluster 2</th>
        <th>Cluster 3</th>
        <th>Cluster 4</th>
        <th>Cluster 5</th>
      </tr>
    </thead>
    <tbody id='positive'>
    </tbody>
  </table>
  <br>
  <p>&nbsp;Negative:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Cluster 0</th>
        <th>Cluster 1</th>
        <th>Cluster 2</th>
        <th>Cluster 3</th>
        <th>Cluster 4</th>
        <th>Cluster 5</th>
      </tr>
    </thead>
    <tbody id='negative'>
    </tbody>
  </table>



</div>
