<div class="bg" id="bgwellcome">
  <div class="wellcome">
    <h1 class="display-3" style="font-family:Georgia">Wellcome!</h1><br>
    <p class="lead" style="margin-left:70px">All the information you need, for better healthcare<br></p>
    <p class="lead" style="margin-left:300px">right here at your fingertips</p><br><br>
    <div class="center">
      <p>To continue, please login</p>
      <a class="btn btn-outline-light" id="button" href="/#/login" role="button">Login</a>
    </div>
  </div>
</div>
